# Sanity project settings (get from sanity.io → your project → Settings → API)
NEXT_PUBLIC_SANITY_PROJECT_ID=9vgo50c2
NEXT_PUBLIC_SANITY_DATASET=production

# Sanity write token (Settings → API → Tokens → Add API Token → Editor role)
SANITY_API_WRITE_TOKEN=skVCHf5PSDPzGt6uID5xvYyWTJtMXP2xeaSV70iKKidWStGkAqYCllIwYXuxFCICBnL1LMStF4viGrUG6qbsUYDH3War7grp3WUoABxc2KAwtzLivoIc1JQT8q9ItWE37gMFXHl6DyTOksYPhkSMXXZP7bWtgUi7bNJWjAo4yJvXwuGfmkPi

# Admin credentials (you choose these — share only with the client)
ADMIN_EMAIL=admin@aamactech.com
ADMIN_PASSWORD=AAmactech@#2026

# Admin session secret (random string — generate at: https://randomkeygen.com)
ADMIN_SECRET=large-kitchen-alive
